@use 'sass:math';
@use 'sass:map';
@use 'sass:meta';
@use 'vuetify/lib/styles/tools/functions' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


// ==================================== //
// Global Settings
// ==================================== //
$font-size-root: 16px;
$body-font-family: 'Poppins', sans-serif !default;

// ==================================== //
// Button Settings
// ==================================== //
$btn-border-radius: 8px;
$btn-font-weight: 500;
$btn-font-sizes:1rem !default;
$btn-letter-spacing: 0 !default;
$btn-text-transform: none;
$heading-font-family: $body-font-family !default;

// ==================================== //
// Color Settings
// ==================================== //
$color-pack: false;

// ==================================== //
// Border
// ==================================== //
$border-radius-root: 8px !default;


// ==================================== //
// Default
// ==================================== //
$shadow: 0px 3px 12px 0px rgba(104, 113, 134, 0.2);


.border,
.v-divider {
  border-color: rgba(var(--v-border-color), 1) !important;
}