.v-btn--contained {
  box-shadow: none;
}
.v-btn{
  text-transform: none;
  letter-spacing: 0;
  border-color: #96AE50;
  border-radius:$btn-border-radius;
  font-family: $body-font-family;
  line-height: inherit;
  font-weight:$btn-font-weight;
  font-size:$btn-font-sizes ;
}
.theme--light.v-btn--active::before {
  opacity: 0.18;
}

.custom-lg-btn {
  &.v-btn:not(.v-btn--round).v-size--x-large {
    padding: 0;
    min-width: 95px;
  }
  &.v-btn--fab.v-size--x-large {
    width: 95px;
    height: 95px;
  }
}

.btn-custom-nm {
  padding: 0 25px !important;
}

.btn-custom-md {
  padding: 15px 35px !important;
}

.btn-custom-lg {
  padding: 15px 45px !important;
}