.v-btn--contained {
  box-shadow: none;
}

.v-btn{
  text-transform: none;
  letter-spacing: 0;
  border-color: #96AE50;
  border-radius:$btn-border-radius;
  font-family: $body-font-family;
  line-height: inherit;
  font-weight:$btn-font-weight;
  font-size:$btn-font-sizes ;
  &.delete-btn-border {
    border-color: #F23F3F;
  }
}

.v-label {
  opacity: 1 !important;
}