.v-table__wrapper {
  thead {
    background-color: #7B6345 !important;
  }

  table > tbody > tr:not(:last-child) > td {
    border-bottom: 1px solid #7B6345 !important;
  }

  table > thead > tr > th:not(.v-data-table__th--sorted) .v-data-table-header__sort-icon {
    opacity: 1 !important;
  }
}