.v-field__outline__end {
  border-radius: 0 8px 8px 0 !important;
}
.v-field__outline__start {
  border-radius: 8px 0 0 8px !important;
}

.v-field {
  background: linear-gradient(90deg, rgba(81,67,59,1) 41%, rgba(73,59,51,1) 70%) !important;

  i.v-autocomplete__menu-icon{
      color: #9ab157!important;
      opacity: 1!important;
  }

}

.v-input--density-default {
  --v-input-control-height: 100px !important;
}

.upload-input {
  .v-field__input {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    padding-left: 10px !important;
  }
}

.file-input-label {
  .v-label.v-field-label {
    position: absolute;
    left: 45%;
    transform: translateX(-45%);
    top: 38%!important;
    text-decoration: underline;
    color: #96AE50 !important;
  }
}
