html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  &-track {
    background-color: #5F5351;
  }
  &-thumb {
    background-color: #888;
    border-radius: 6px;
    &:hover {
      background-color: #555;
    }
  }
}

.theme--light.v-application,
.theme--light.v-sheet,
.theme--light.v-card > .v-card__text,
.theme--light.v-card .v-card__subtitle {
  color:var(--v-theme-muted) !important;
}



.mw-unset {
  min-width: unset !important;
}

.w-100 {
  width: 100%;
}

.no-cursor {
  cursor: initial;
}

.no-effect-button {
  &:hover {
    color: rgb(var(--v-theme-blue));
    &::before {
      background-color: transparent;
    }
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.form-control {
  border: 1px solid;
  padding: 10px;
  border-radius: 8px;
  max-width: 40px;
  height: 40px;
  &:focus {
    outline: none;
  }
}





@media (max-width: 767px) {
  .pt-sm-0 {
    padding-top: 0 !important;
  }
  .py-sm-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .v-application .text-h2 {
    font-size: 25px !important;
  }
  .px-xs-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .custom-label {
    .v-input__slot {
      align-items: flex-start;
    }

    .v-label {
      min-height: 58px;
      white-space: pre-line !important;
    }
  }
  .inner-top-spacer {
    padding-top: 30px;
  }
}



.font-20 {
  font-size: 20px;
}

.font-18 {
  font-size: 18px;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}






.position-relative {
  position: relative !important;
}




.bg-extra-light {
  background-color: #F4F8FF;
  background-image: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="900" height="600" fill="%23FFF"></rect><path d="M237 0L237 0L237 300L237 300L237 600L0 600L0 300L0 300L0 0L0 0Z" fill="%23d5d5d5"></path><path d="M204 0L204 0L204 300L204 300L204 600L0 600L0 300L0 300L0 0L0 0Z" fill="%23c7c7c8"></path><path d="M170 0L170 0L170 300L170 300L170 600L0 600L0 300L0 300L0 0L0 0Z" fill="%23b9babc"></path><path d="M136 0L136 0L136 300L136 300L136 600L0 600L0 300L0 300L0 0L0 0Z" fill="%23acadaf"></path><path d="M102 0L102 0L102 300L102 300L102 600L0 600L0 300L0 300L0 0L0 0Z" fill="%239fa0a3"></path><path d="M69 0L69 0L69 300L69 300L69 600L0 600L0 300L0 300L0 0L0 0Z" fill="%23929397"></path><path d="M35 0L35 0L35 300L35 300L35 600L0 600L0 300L0 300L0 0L0 0Z" fill="%2385878b"></path></svg>');
  background-attachment: fixed;
  background-size: cover;
}

.bg-light-info {
  background-color: rgba(8, 35, 45, 0.83);
}

.grey--text {
  color: rgb(var(--v-theme-gray-500)) !important;
}

.op-5 {
  opacity: 0.5;
}

.op-8 {
  opacity: 0.8;
}


.bg-info-gradiant {
  background: rgb(var(--v-theme-warning));
  background: -webkit-linear-gradient(
                  rgb(var(--v-theme-warning)),
                  rgb(var(--v-theme-accent))
  );
  background: -webkit-gradient(
                  linear,
                  left top,
                  right top,
                  from(rgb(var(--v-theme-primary))),
                  to(rgb(var(--v-theme-accent)))
  );
  background: -webkit-linear-gradient(left, rgb(var(--v-theme-primary)), rgb(var(--v-theme-accent)));
  background: linear-gradient(90deg, rgb(var(--v-theme-primary))0, rgb(var(--v-theme-accent)));
}

.bg-danger-gradiant {
  background: rgb(var(--v-theme-error));
  background: -webkit-linear-gradient(
                  rgb(var(--v-theme-error)),
                  rgb(var(--v-theme-orange))
  );
  background: -webkit-gradient(
                  linear,
                  left top,
                  right top,
                  from(rgb(var(--v-theme-error))),
                  to(rgb(var(--v-theme-orange)))
  );
  background: -webkit-linear-gradient(left, rgb(var(--v-theme-error)), rgb(var(--v-theme-orange)));
  background: linear-gradient(90deg, rgb(var(--v-theme-error)) 0, rgb(var(--v-theme-orange)));
}


//@media (min-width: 1600px){
//  .v-container {
//    max-width: 1170px;
//  }
//}
//@media (max-width: 1024px){
//  .v-container {
//    max-width: 100%;
//    padding: 0 30px;
//  }
//}
//@media (max-width: 576px){
//  .v-container {
//    max-width: 100%;
//    padding: 0 15px;
//  }
//}